div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.color-container {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.color-container h4 {
  text-align: center;
}

label {
  margin-bottom: 10px;
}
